altgraph==0.17
androguard==3.3.5
apturl==0.5.2
asgiref==3.3.1
asn1crypto==1.4.0
attrs==20.3.0
awscli==1.18.69
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
biplist==1.0.3
blinker==1.4
botocore==1.16.19
Brlapi==0.7.0
Brotli==1.0.9
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorlog==4.8.0
command-not-found==0.3
cryptography==3.3.2
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.1.7
dnspython==2.1.0
docopt==0.6.2
docutils==0.16
duplicity==0.8.12.0
EditorConfig==0.12.3
entrypoints==0.3
evdev==1.3.0
fasteners==0.14.1
Flask==1.1.2
frida==14.0.5
future==0.18.2
google-play-scraper==0.1.2
google-trans-new==1.1.3
gpg===1.13.1-unknown
h11==0.12.0
h2==4.0.0
hpack==4.0.0
html5lib==1.0.1
http-tools==2.1.0
httplib2==0.14.0
hyperframe==6.0.0
idna==2.8
IP2Location==8.5.1
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.9.4
jsbeautifier==1.13.5
jsonschema==3.2.0
junit-xml==1.9
kaitaistruct==0.9
kazam==1.4.5
keyring==18.0.1
Kivy==2.0.0
Kivy-Garden==0.1.4
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
ldap3==2.8.1
libsast==1.3.9
lief==0.11.4
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
macholib==1.14
Mako==1.1.0
MarkupSafe==1.1.0
matplotlib==3.4.0
mitmproxy==6.0.2
monotonic==1.5
msgpack==1.0.2
mysqlclient==2.0.3
netifaces==0.10.4
networkx==2.5
numpy==1.20.1
oauthlib==3.1.0
olefile==0.46
oscrypto==1.2.1
packaging==20.9
paramiko==2.6.0
parso==0.8.1
passlib==1.7.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pipreqs==0.4.10
prompt-toolkit==3.0.18
protobuf==3.14.0
psutil==5.8.0
publicsuffix2==2.20191221
pyasn1==0.4.8
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pydot==1.4.2
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.17.3
PySocks==1.6.8
pytesseract==0.3.7
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-magic==0.4.16
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.24.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
roman==2.0.0
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
semgrep==0.38.0
setproctitle==1.1.10
shelljob==0.6.2
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sortedcontainers==2.3.0
soupsieve==1.9.5
sqlparse==0.4.1
systemd-python==234
torbrowser-launcher==0.3.2
tornado==6.1
torndb==0.3
tqdm==4.59.0
traitlets==5.0.5
twython==3.8.2
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
urwid==2.1.2
usb-creator==0.3.7
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wkhtmltopdf==0.2
wsproto==1.0.0
xkit==0.0.0
yarg==0.1.9
zstandard==0.14.1
